@charset 'utf-8';

@import 'variables';
@import '~foundation-sites/scss/foundation';

// Styling for various tags
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids which one should I use???
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Add required zurb components
@include foundation-button;

// Helper for float-right class
@include foundation-float-classes;

.input-group-rounded {
  .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }

  .input-group-button .button {
    border-radius:  0 5000px 5000px 0;
    font-size: 1.4rem;
    margin-left: 2px;
  }
}

.spinner {
	width: 32px;
	height: 32px;
	clear: both;
	margin: 20px auto;
}

/* Loading Circle Rotation */
.loading-circle {
	border: 4px rgba(#000,0.25) solid;
	border-top: 4px rgba(#000,1) solid;
	border-radius: 50%;
	-webkit-animation: loadCircRot .6s infinite linear;
	animation: loadCircRot .6s infinite linear;
}
@-webkit-keyframes loadCircRot {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(359deg); }
}
@keyframes loadCircRot {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}

ul {
    list-style-type: none;
    margin: 0;
    line-height: 1.9;
    li {
      background-color: $light-gray;
      margin: 10px 0;
      padding: 10px;
    }
    input[type="checkbox"] {
      position: absolute;
      visibility: hidden;
      left: -99999px;
    }
    input[type="checkbox"] ~ label{
      position: relative;
      margin-left: 2rem;
      margin-bottom: 10px;
    }
    input[type="checkbox"] ~ label::after {
      background: $white;
      border: 1px solid $light-gray;
      content: '';
      display: block;
      height: 20px;
      left: -2rem;
      width: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-80%);
    }
    // Active state
    input[type="checkbox"]:checked ~ label:after {
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 18px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f00c";
      color: $primary-color;
      border: 1px solid $primary-color;
    }
}

.footer {
  text-align: center;
  color:#000;
  margin:10px 0px -20px 0px;
}

.no-margin {
    margin: 0;
}

input[type="submit"] {
    margin-right: 2px;
}

.text {
  display: inline-block;
  width: 500px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
