<template>

    <li>
        <div v-show="state.edit === false">
            <input :id="'chexbox_' + index" type="checkbox" v-model="data.completed" @click="completeTodo" />
            <label :for="'chexbox_' + index"></label>
            <span class="text" @click="startEdit">{{todo.content}}</span>
            <input type="submit" class="button secondary float-right no-margin" value="Remove" @click="remove(index)" />
        </div>


        <div style="padding-bottom: 10px;" v-show="state.edit === true">
            <input class="text" v-model="data.content" @keyup.enter="updateTodo" placeholder="Update Todo" />
            <input type="submit" class="button secondary float-right" value="Update" @click="updateTodo" :disabled="data.content.length === 0">
            <input type="submit" class="button secondary float-right" value="Cancel" @click="cancelEdit">
        </div>
    </li>

</template>

<script>
export default {
  props: ['todo', 'index'],
  data(){
    return{
      state: {
      edit: false,
    },
    data: {
      content: '',
      completed: false,
    }
  }
},

  mounted() {
    const t = this;

    t.data.content = t.todo.content;
    t.data.completed = t.todo.completed;
  },

  methods: {
    updateTodo() {
      const t = this;

      t.$nextTick(() => {
        bus.$emit('update-todo', {data: t.data, index: t.index, id: t.todo.id});
      })

      t.state.edit = false;
    },

    completeTodo() {
      const t = this;

      t.$nextTick(() => {
        bus.$emit('complete-todo', {index: t.index, id: t.todo.id});
      })

      t.state.edit = false;
    },

    remove() {
      const t = this;

      bus.$emit('remove-todo', {index: t.index, id: t.todo.id});
    },

    startEdit() {
      const t = this;

      if(t.data.completed === false) {
        t.state.edit = true;
      }
    },

    cancelEdit() {
      const t = this;
      t.state.edit = false;
      t.data.content = t.todo.content;
    }
  }
}
</script>
