<template>

    <div class="grid-x grid-padding-x">
        <div class="cell small-8 large-offset-2 align-center-middle text-center">
          <h1>todos</h1>
          <p>This is a demo todo single page application using Foundation for Sites 6.6.3 pwd by VueJS 2.6, Laravel 8 and Mysql 5.7.</p>
        </div>

        <div class="cell small-6 large-offset-3 align-center-middle text-center input-group input-group-rounded">
            <input class="input-group-field" v-model="newTodo" @keyup.enter="addTodo" placeholder="Add Todo">
            <div class="input-group-button">
                <input type="submit" class="button secondary" value="Add" @click="addTodo" :disabled="newTodo.length === 0">
            </div>
        </div>

        <div class="cell small-6 large-offset-3">
            <ul>
                <todo-item v-for="(todo, index) in todos" :key="todo.id" :todo="todo" :index="index"></todo-item>
            </ul>
            <div v-show="todos.length === 0">
                <div class="spinner loading-circle"></div>
            </div>
        </div>
    </div>

</template>

<script>
import todoItem from './TodoItem.vue'
export default {
  data(){
    return {
      todos: [],
      newTodo: '',
    }
  },

  components: {
    todoItem
  },

  created() {
    this.getTodos();
    this.initListeners();
  },

  methods: {
    initListeners() {
      const t = this;

      bus.$on('complete-todo', function (details) {
        t.completeTodo(details);
      })

      bus.$on('update-todo', function (details) {
        t.updateTodo(details);
      })

      bus.$on('remove-todo', function (details) {
        t.removeTodo(details);
      })
    },

    getTodos() {
      const t = this;

      axios.get('/todos')
          .then(({data}) => {
            t.todos = data;
          });
    },

    createTodo(content) {
        const t = this;

        axios.post('/create_todo', {content: content, completed: false})
            .then(({data}) => {
                t.todos.unshift(data);
            });
    },

    addTodo() {
        const t = this;

        if(t.newTodo.length > 0) {
          t.createTodo(t.newTodo);
          t.newTodo = '';
        }
    },

    completeTodo(details) {
        const t = this;

        axios.post('/complete_todo/'+ details.id)
          .then(({data}) => {
            t.todos.splice(details.index, 1, data)
          })
    },

    updateTodo(details) {
        const t = this;

        axios.post('/edit_todo/'+ details.id, details.data)
          .then(({data}) => {
            t.todos.splice(details.index, 1, data)
          })
    },

    removeTodo(details) {
        const t = this;

        axios.post('/delete_todo/'+ details.id)
          .then(() => {
            t.todos.splice(details.index, 1)
          })
    },
  }
}
</script>
